@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

input{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 600;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight:400;
}

.cadastro{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.firstContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.54);
}

.containerTitule{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.textTitule{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.textColor{
    color: #7900D9;
}

.textLogin{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
}

.click{
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    transition: 0.2s;
}

.click:hover{
    transition: 0.2s;
    color: rgba(119, 0, 217, 0.466);
    text-decoration: underline;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 300;
    width: 770px;
    margin-top: 15px;
    padding-left: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.containerInputs div{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.inputs{
    background: rgba(241, 221, 252, 0.308);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-left: 8px;
    height: 30px;
    border: rgba(0, 0, 0, 0.233) 2px solid;
    outline: none;
    box-shadow: 0px 4px 4px rgba(118, 118, 118, 0.32);
    transition: ease-in-out, .25s;
}

input:focus{
    border: #5B17EB 2px solid;
}

.btnCriar{
    border: none;
    width: 255px;
    height: 49px;
    background-color: #A661FF;
    color: white;
    border: transparent solid 2px;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    border-radius: 15px;
    margin-top: 39px;
    margin-bottom: 39px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 5px rgba(118, 118, 118, 0.54));
    transition: ease-in-out, .15s;
    text-transform: uppercase;
}

.btnCriar:active{
    background-color: #ffffff;
    color: #A661FF;
    filter: drop-shadow(0px 4px 5px #A661FF);
    /* border: #A661FF solid 2px; */
}

.secondContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

.containerLogo{
    position: absolute;
    top: 10px;
    right: 10px;
}