@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

input{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 600;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight:400;
}

.cadastro{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.firstContainerCadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.54);
}

.containerTituleCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.textTituleCadastro{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.textColorCadastro{
    color: #7900D9;
}

.textLoginCadastro{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
}

.click{
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    transition: 0.2s;
}

.click:hover{
    transition: 0.2s;
    color: rgba(119, 0, 217, 0.466);
    text-decoration: underline;
}

.containerInputsCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 300;
    width: 770px;
    margin-top: 15px;
    padding-left: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.containerInputsCadastro div{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.inputsCadastro{
    background: rgba(241, 221, 252, 0.308);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-left: 8px;
    height: 30px;
    border: rgba(0, 0, 0, 0.233) 2px solid;
    outline: none;
    box-shadow: 0px 4px 4px rgba(118, 118, 118, 0.32);
    transition: ease-in-out, .25s;
}

input:focus{
    border: #5B17EB 2px solid;
}

.btnCriarCadastro{
    border: none;
    width: 255px;
    height: 49px;
    background-color: #A661FF;
    color: white;
    border: transparent solid 2px;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    border-radius: 15px;
    margin-top: 39px;
    margin-bottom: 39px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 5px rgba(118, 118, 118, 0.54));
    transition: ease-in-out, .15s;
    text-transform: uppercase;
}

.btnCriarCadastro:active{
    background-color: #ffffff;
    color: #A661FF;
    filter: drop-shadow(0px 4px 5px #A661FF);
    /* border: #A661FF solid 2px; */
}

.secondContainerCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImageCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

.containerLogoCadastro{
    position: absolute;
    top: 10px;
    right: 10px;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------TELA LOGIN-----------------------------------------------------------*/

.login{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* display: grid; */
    grid-template-columns: 2fr 2fr;
    overflow-x: hidden;
}

.login-reverse{
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    /* display: grid; */
    grid-template-columns: 2fr 2fr;
    overflow-x: hidden;
}

.firstContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.54);
}

.containerTitule{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.textTitule{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.textColor{
    color: #7900D9;
}

.textLogin{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
}

.click{
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    transition: 0.2s;
}

.click:hover{
    transition: 0.2s;
    color: rgba(119, 0, 217, 0.466);
    text-decoration: underline;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 300;
    width: 770px;
    margin-top: 40px;
    padding-left: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.containerInputs div{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.inputs{
    background: rgba(241, 221, 252, 0.308);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-left: 8px;
    height: 30px;
    border: rgba(0, 0, 0, 0.233) 2px solid;
    outline: none;
    box-shadow: 0px 4px 4px rgba(118, 118, 118, 0.32);
    transition: ease-in-out, .25s;
}

input:focus{
    border: #5B17EB 2px solid;
}

.btnEntrar{
    border: none;
    width: 255px;
    height: 49px;
    background-color: #A661FF;
    color: white;
    border: transparent solid 2px;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    border-radius: 15px;
    margin-top: 39px;
    margin-bottom: 39px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 5px rgba(118, 118, 118, 0.54));
    transition: ease-in-out, .15s;
    text-transform: uppercase;
}

.btnEntrar:active{
    background-color: #ffffff;
    color: #A661FF;
    filter: drop-shadow(0px 4px 5px #A661FF);
    /* border: #A661FF solid 2px; */
}

.secondContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLogo{
    position: absolute;
    top: 10px;
    left:10px;
}

.containerInput{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.divInput{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: #e0e0e0;
    /* Not removed via appearance */
    margin: 0;
 
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 100%;
    transform: translateY(-0.075em);
 

    display: grid;
    place-content: center;
 
    margin-right: 5px;
    cursor: pointer;
}

input[type="radio"]:checked {
    border:  solid 2px #7900D9;
}
 
input[type="radio"]::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    clip-path: circle(30%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: #7900D9;
    display: flex;
    align-items: center;
}
 
input[type="radio"]:checked::before {
    transform: scale(1);
}
 
input[type="radio"]:disabled {
    --form-control-color: var(--form-control-disabled);
 
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.animation{
    background-color: white;
    z-index: +2;
    animation-name: changeScreen;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    
}

/* .animated{
    z-index: +2;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
} */

@keyframes changeScreen {
    
    0% {
        /* flex-direction: row; */
        transform: translateX(0%);
    }
    100%{
        
        transform: translateX(-100%);
        /* flex-direction: row-reverse; */
    }
}