*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: #F3F0F6;
}

.mid_calendar{
    /* width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-content: center;
    justify-content: center; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 55px;
}

#root{
    width: 100%;
}