* {
    box-sizing: border-box;
}


/* Header */

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.logo {
    margin: 10px;
    width: 50px;
}

.icon {
    display: flex;
    align-items: center;
}

.nav_pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 15px;
}

.nav_pages button {
    font-weight: 400;
    color: #000000;
    background: transparent;
    border: none;
    outline: none;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px transparent solid;
    border-radius: 0px;
    transition: ease-in-out, .25s;
}

.nav_pages button:hover {
    font-weight: 600;
    color: #7900D9;
    cursor: pointer;
    outline: none;
    border-bottom: 2px transparent solid;
    transform: scale(1.05);
}

.nav_pages button:active {
    outline: none;
    border: none;
    transform: scale(0.8);
}

.nav_pages button.active {
    font-weight: 600;
    color: #7900D9;
    outline: none;
    border-bottom: #7900D9 2px solid;
}


/* Footer */

footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #FEFEFE; */
}

.nav_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 50px;
}

.nav_boxes button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 60px;
    background: #D7C7EC;
    border-radius: 100%;
}

.svg {
    transition: ease-in-out, .25s;
}

.svg path {
    display: flex;
    justify-content: center;
}

.svg:hover path {
    fill: #FFFFFF;
    display: flex;
    justify-content: center;
}

.svg:hover {
    transform: scale(1.15);
    background-color: #A661FF;
    border: none;
    outline: none;
}

.svg.active path {
    fill: #FFFFFF;
    display: flex;
    justify-content: center;
}

.svg.active {
    transform: scale(1.15);
    background-color: #A661FF;
    border: none;
    outline: none;
}

svg {
    /* border: green solid; */
    width: 30px;
    height: 30px;
}

.professor {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.white_container {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 896px;
    height: 437px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    grid-template-columns: 1.5fr 0fr 2fr;
}

.white_containerv2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 896px;
    height: 437px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    grid-template-columns: 2fr 0fr 1.5fr;
}

.calendar {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 1025px;
    height: 585px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.materias {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 585px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.img_section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.storyset {
    width: 280px;
    height: 100%;
}

.vl {
    background-color: #D7C7EC;
    width: 0.1vw;
    height: 264px;
    border-radius: 10px;
}

.input_section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.titulo_reg {
    font-weight: 400;
    font-size: 24px;
}

.texto_roxo {
    font-weight: bold;
    color: #5B17EB;
}


/* Inputs */

form {
    width: 100%;
}

label {
    margin-left: -60px;
    font-size: 14px;
}

.form {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 20px;
    margin-left: 70px;
    margin-right: 40px;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 45px;
}

input {
    font-family: 'Poppins', sans-serif;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.267);
}

.input_reg {
    font-family: 'Poppins', sans-serif;
    width: 256px;
    height: 39px;
    background: rgba(246, 243, 249, 0.7);
    box-shadow: 2px 2px 4px rgba(166, 97, 255, 0.27);
    border-radius: 5px;
    border: rgba(166, 97, 255, 0.27) solid 2px;
    font-size: 16px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    transition: ease-in-out, .25s;
}

.input_reg:focus {
    outline: none;
    border: rgba(165, 97, 255, 0.575) solid 2px;
}

.error{
    font-family: 'Poppins', sans-serif;
    width: 256px;
    height: 39px;
    background: rgba(246, 243, 249, 0.7);
    box-shadow: 2px 2px 4px rgba(255, 97, 97, 0.541);
    border-radius: 5px;
    border: rgba(187, 42, 42, 0.822) solid 2px;
    font-size: 16px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    transition: ease-in-out, .25s;
}

.error:focus{
    outline: none;
    border: rgb(255, 2, 2) solid 2px;
}

.selectRegOption{

    background: rgba(246, 243, 249, 0.7);
    color: black;
    border-radius: 5px;
    width: 256px;
    height: 39px;
}


.register_btn {
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 211px;
    height: 31px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background: #7900D9;
    border-radius: 15px;
    transition: ease-in-out, .25s;
}

.register_btn:hover {
    background: #5B17EB;
    transform: scale(1.05);
    border: none;
}

.register_btn:focus {
    background: #4a17b9;
    transform: scale(0.95);
    outline: none;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.calendario {
    /* border: #c75050 solid 2px; */
    width: 750px;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title img {
    width: 95px;
    height: 95px;
    border: #7900D9 solid 1px;
    border-radius: 15px;
}

.title_text {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #A661FF;
}

.title_text span {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    color: #000000;
}

.meses {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 25px;
    overflow-y: scroll;
    height: 500px;
}

.month_btn {
    color: #7900D9;
    background-color: transparent;
    border: #7900D9 2px solid;
    border-radius: 15px;
    font-weight: bold;
    transition: ease-in-out, .25s;
    text-transform: capitalize;
}

.month_btn:hover {
    border: #5B17EB 2px solid;
    transform: scale(1.05);
}

.month_btn.active {
    background-color: #5B17EB;
    border: transparent 2px solid;
    color: #FFFFFF;
    outline: none;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #A661FF;
    border-radius: 15px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #5B17EB;
}

table {
    margin-top: 15px;
    width: 100%;
    border-collapse: separate;
    border: solid #7900D9 1px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

th {
    border-right: solid #7900D9 1px;
    border-bottom: solid #7900D9 1px;
    ;
}

td {
    border-right: solid #7900D9 1px;
}

th:last-child {
    border-right: none;
}

td:last-child {
    border-right: none;
}

tr:last-child {
    border-bottom: none;
}

tr {
    border-collapse: separate;
    border: solid #7900D9 1px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

th, td {
    padding-top: 15px;
    padding-bottom: 15px;
}

td {
    height: 350px;
    padding: 10px;
}

.subject_cont {
    background-color: #D7C7EC;
    border-radius: 15px;
    height: 80px;
    width: 90%;
}

.subject_list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.materias h3{
    text-align: center;
    margin-bottom: 25px;
}

.disc {
    border-bottom: 5px solid #5B17EB;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-bottom: 25px;

}

.item {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 350px;
    height: 60px;
    display: flex;
}

.itemv2{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 350px;
    height: 60px;
    display: flex;
    flex-flow: row-reverse;
}

.subject_list{
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
}

.subject_logo {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: #D7C7EC;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject_desc{
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.subject_desc h5 {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

.subject_desc p {
    font-weight: 300;
    font-size: 15px;
    line-height: 12px;
    text-transform: uppercase;
}





/* PERSONALIZACAO DO CALENDARIO */
.rbc-event-content{
    background-color: #A661FF;
}
.rbc-event{
    background-color: #A661FF !important;
}

.rbc-today{
    background-color: #e1caffd3 !important;
}

select option {
    background-color: green;
    font-weight: bold;
    color: red;
}