@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

input{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 600;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight:400;
}

.telaInicial{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.firstDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 99.5vh;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.54);
}

.textColor{
    color: #7900D9;
}

.textLogin{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
}

.click{
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    transition: 0.2s;
}

.click:hover{
    transition: 0.2s;
    color: rgba(119, 0, 217, 0.466);
    text-decoration: underline;
}